<!DOCTYPE html>
<html lang="en">
<body>
  ShortURL: <%= shortURL %>
  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PUT">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <button type="submit">Update</button>
  </form>
  <form action="/urls/<%= shortURL %>/delete" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
  <p>- Analytics -</p>
  <% if (analytics) { %>
    <p>Total Number of Visits for <%= shortURL %>: <%= analytics.numVisits %></p>
      <% for (visitor in analytics.visitors) { %>
        Visitor ID: <%= visitor %>
        <% for (time of analytics.visitors[visitor]) { %>
          <p>- <%= time %></p>
        <% } %>
      <% } %>
  <% } else { %>
    No record on visiting <%= shortURL %>
  <% } %>
</body>
</html>
